*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.content {
display: flex;
align-items: flex-end;
gap: 30px;
min-width: 1140px;
margin-bottom: 133px 30px;
}

/* Секция с видео*/

.result {
min-width: 711px;
height: 100%;
}

.result__video-container {
position: relative;
overflow: hidden;
margin-bottom: 16px;
}

.result__video {
width: 100%;
height: 100%;
object-fit: cover;
}

/* Форма */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form {
display: flex;
justify-content: space-between;
align-items: flex-end;
gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
display: flex;
align-items: center;
width: fit-content;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}


.search-form__textfield {
background-color: transparent;
border: none;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
padding: 5px 0;
width: 225px;
}

.search-form__textfield::placeholder {
  font-size: 18px;
  color: rgb(255 255 255 / 0.7);
  line-height: 100%;
  font-weight: 400;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

/* Чекбокс */

.search-form__checkbox-list {
  display: flex;
  gap: 15px; 
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__pseudo-checkbox {
width: 19px;
height: 19px;
border: 1px solid #ffffff;
padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
 

/* Кнопка */
.button {

 font-size: 18px;
 font-weight: bold;
 background-color: transparent;
color: #ffffff;
border: 1px solid #ffffff;
padding-bottom: 6px;
padding-top: 6px;
}

.search-form__submit-button {
  width: 194px;
  align-self:self-end;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus  {
  border: none; 
}

.button:focus-visible {
  outline: 1px solid #ffffff;
}

/* Секция с карточками*/
.content__details {
max-width: 100%;
max-height: 100%;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent{
color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap:30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__card-link_current {
 background-color: #545050;
}

.content__card-link_current:active {
 background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  border: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.cards-list-item-template {
  display: flex;
  flex-direction: column;
}
.content__list-item {
 padding: 0 3px;
}

.content__list-container  {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
display: flex;
justify-content: space-between;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 2;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px; 
  object-fit: cover;
  object-position: center; 
} 

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.more-button {
  width: 100%;
}

.preloader-template {
  position: absolute;
}